@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

.container {
  background-color: rgba(255, 255, 255, 1);
  /* width: 25vw; */
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}
.head {
  display: flex;
  justify-content: space-around;
}

.plan {
  font-weight: 600;
  color: #3c4852;
  line-height: 1vh;
}

.button {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  line-height: 3vh;
  align-items: center;
  justify-content: stretch;
  width: 10vw;
  font-weight: 400;
}

.inputBorder {
  width: 24vw;
  height: 6vh;
  border-radius: 4px;
  border: 1px solid #bebebe;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem;
}

.inputBorder label {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem;
  font-size: 0.7rem;
  color: #3c4852;
  font-weight: 600;
  width: 22vw;
}
.labelDiv {
  display: flex;
  justify-content: space-between;
}

.totalRupees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.month {
  font-size: 0.5rem;
}

.mo {
  color: #bebebe;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  width: 20vw;
  font-size: 0.8rem;
  line-height: 0vh;
}

.expire {
  background-color: #e7e7e7;
  width: 24vw;
  height: 6vh;
  margin: 0.5rem;
  border-radius: 4px;
  border: 1px solid #bebebe;
  display: flex;
  align-items: center;
  color: #bebebe;
}

.expire label {
  display: flex;
  padding: 1.1rem;
  font-size: 0.7rem;
  color: #3c4852;
  font-weight: 600;
  width: 22vw;
  justify-content: space-between;
}

.subscription_Container {
  display: flex;
  justify-content: space-between;
  width: 24vw;
  padding: 0rem 1.2rem;
  font-size: 0.7rem;
  color: #3c4852;
  font-weight: 600;
  margin-top: 2vh;
}

.subscription_Container p {
  line-height: 0vw;
}
.subscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expired_flag{
  position: absolute;
  top: 26vh;
  right: 30.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F77171;
  border-radius: 4px;
  padding: 0vh 1.5vw;
  height: 1.8vh;
  width: 4vw;
  font-size: 0.46rem;
  color: white;
  font-weight: 500;
}

.recommend_flag{
  position: absolute;
  top: 34vh;
  right: 30.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47BA68;
  border-radius: 4px;
  padding: 0vh 3vw;
  height: 2vh;
  width: 1vw;
  font-size: 0.54rem;
  color: white;
  font-weight: 500;
}

.fee {
  display: flex;
  justify-content: space-around;
}

.btn {
  display: flex;
  gap: 0.4vw;
  font-weight: 700;
}

.cancel {
  border: 1px solid rgba(247, 113, 113, 1);
  color: rgba(247, 113, 113, 1);
  padding: 0.64rem 2rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 12vw;
  font-size: 0.7rem;
}

.pay {
  border: 1px solid #47ba68;
  border-radius: 4px;
  background-color: #47ba68;
  padding: 0.625rem 2rem;
  color: white;
  width: 12vw;
  font-size: 0.7rem;
}

.recommend {
  background-color: #d7eddd;
  width: 24vw;
  height: 6vh;
  margin: center;
  border-radius: 4px;
  border: 2px solid #47ba68;
  display: flex;
  align-items: center;
}

.recommend label {
  display: flex;
  padding: 1.1rem;
  font-size: 0.7rem;
  color: #3c4852;
  font-weight: 600;
  width: 22vw;
  justify-content: space-between;
}

.foot {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.2rem;
  align-items: center;
}

.foot .price {
  font-size: 1rem;
}

.razorFlag {
}

.razorContainer {
  /* border: 1px solid; */
  width: 24vw;
}

.razorContainer img {
  width: 100px;
}
